h1 {
  color: #4d4dff;
  font-size: 250%;
  margin-left: 0px;
}

h2 {
  color: #282828;
  font-size: 200%;
  margin-left: 5px;
}

p {
  font-family: "Times New Roman", Times, serif;
  text-indent: 20px;
  margin-left: 20px;
}

#divcontent {
  background-color: #e3e3e3;
  border-style: solid;
  border: dashed 1px #000000;
  text-indent: 35px;
}

#divNameContent {
  background-color: #FFFFFF;
  text-align: 15px;
  border-style: solid;
  line-height: 4;
}

img {
  margin-left: 15px;

  margin: 0,0,0 10px;
}
