h1 {
  color: #4d4dff;
  font-size: 250%;
  margin-left: 0px;
}

h2 {
  color: #282828;
  font-size: 200%;
  margin-left: 5px;
}

p {
  font-family: "Times New Roman", Times, serif;
  text-indent: 20px;
  margin-left: 10px;
}

#divcontent {
  background-color: #e3e3e3;
  border-style: solid;
  border: dashed 1px #000000;
  text-indent: 35px;
}

img {
  margin-left: 15px;
}
